/* Basis Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Wrapper für Flexbox Layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hauptinhalt soll sich ausdehnen */
main {
  flex: 1;
  padding: 5rem;
}

#taskForm {
    transition: all 0.3s ease;
}

.btn {
    padding: 10px 20px; /* Mehr Padding für den Button */
    font-size: 1.2em; /* Größere Schriftart */
    border-radius: 5px; /* Abgerundete Ecken */
}

#timerCircle {
    transition: background 0.3s ease; /* Sanfte Übergänge für den Timer */
}

/* Footer-Styling */
footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #dee2e6;
}
